@charset "UTF-8";
/*pris du fichier scss*/
/*pris du fichier style.scss*/
/*pris du fichier menus.scss*/
/*animation-movement menus - starter*/
/*animation-movement menus - dish*/
/*animation-movement menus - dessert*/
/*pris du fichier menus.scss - version mobile*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&family=Shrikhand&display=swap");
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%; /*5%*/
  padding-bottom: 4%;
}
header img {
  font-size: medium;
  display: flex;
  margin: auto;
  width: 48%;
}
header .back {
  margin-left: 17px;
  margin-right: -20px;
  color: black;
}

/*

/*pris du ficheir style.scss - version tablette*/
@media screen and (min-width: 768px) {
  header img {
    width: 30%;
  }
}
/*pris du ficheir style.scss - version desktop*/
@media screen and (min-width: 992px) {
  header {
    height: 10px;
    padding: 3%;
  }
  header img {
    margin-top: -1%;
    width: 20%;
  }
}
.city {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  padding: 4%;
  box-shadow: 0 10px 10px -11px rgba(0, 0, 0, 0.35) inset;
}
.city i {
  display: inline-flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 1%;
}
.city input {
  border: none;
  text-align: center;
  background-color: rgb(236, 236, 236);
  width: 68%;
}
.city input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: start;
  padding-left: 9%;
  width: 100%;
}
.city input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: start;
  padding-left: 9%;
  width: 100%;
}
.city input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: start;
  padding-left: 9%;
  width: 100%;
}

/*pris du fichier style.scss - version mobile*/
.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 13%;
}
.explore h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 80%;
  margin: auto;
  margin-top: 6%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.explore p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.explore button {
  margin: auto;
  font-size: large;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 5%;
  margin-top: 4%;
}
.explore button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 3px 3px 3px 3px rgba(67, 56, 56, 0.5);
}

/*police pour le texte*/
/*partie mobile first*/
.functioning {
  font-family: "Roboto", sans-serif;
}
.functioning h1 {
  font-size: 25px;
  margin-top: 8%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}
.functioning .choice {
  box-shadow: 4px 5px rgba(125, 124, 124, 0.1);
  background-color: #f8f8f8;
  border-radius: 20px;
  margin-left: 11%;
  margin-bottom: 6%;
  max-width: 80%;
}
.functioning .choice p {
  float: left;
  background-color: #9356dc;
  color: white;
  border-radius: 30px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 7%;
  margin-left: -3%;
  font-size: small;
}
.functioning .choice .container {
  padding: 7%;
}
.functioning .choice .active {
  color: #9356dc;
}
.functioning .choice i {
  margin-right: 5%;
  color: grey;
}
.functioning .choice i:hover {
  color: #9356dc;
}
.functioning .choice span {
  display: inline-flex;
  color: black;
  font-weight: bold;
}
.functioning .choice a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.functioning .active {
  background-color: #f8f3ff;
}

/*partie restaurants*/
/*fin loader*/
.loader {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  z-index: 100;
  background-color: white;
  -webkit-animation: loader 3s forwards;
          animation: loader 3s forwards;
}
@-webkit-keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
    visibility: hidden;
  }
}
@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
    visibility: hidden;
  }
}
.loader .roundloader {
  text-align: center;
  border: 16px solid #99e2d0;
  border-radius: 50%;
  border-top: 20px solid #ff79da;
  border-bottom: 20px solid #9356dc;
  -webkit-animation: roundloader;
          animation: roundloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  opacity: 0;
  margin: auto;
  z-index: 100;
}

@-webkit-keyframes roundloader {
  to {
    transform: rotate(0deg);
    opacity: 1;
    width: 150px;
    height: 150px;
  }
  from {
    transform: rotate(360deg);
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@keyframes roundloader {
  to {
    transform: rotate(0deg);
    opacity: 1;
    width: 150px;
    height: 150px;
  }
  from {
    transform: rotate(360deg);
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
/*fin loader*/
.restaurants {
  flex-wrap: wrap;
  background-color: rgb(239, 237, 237);
  padding-bottom: 10%;
}
.restaurants h1 {
  font-size: 25px;
  margin-top: 8%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  padding-top: 8%;
}
.restaurants .card {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurants .card img {
  display: flex;
  justify-content: space-evenly;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .card .ticket {
  background-color: #99e2d0;
  color: #0b8768;
  padding: 2%;
  font-size: small;
  float: right;
  margin-left: 55%;
  font-weight: bold;
  position: absolute;
  font-family: "Roboto", sans-serif;
}
.restaurants .containerrestaurant {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  line-height: 8px;
  height: auto;
}
.restaurants .containerrestaurant .namerestaurant {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-left: 20px;
}
.restaurants .containerrestaurant h3 {
  font-weight: bold;
}
.restaurants .containerrestaurant a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.restaurants .containerrestaurant .heart {
  transition-duration: 3s;
  width: 25px;
  margin-top: 10px;
  margin-right: 25px;
  background: url("/images/restaurants/heartregular.svg") no-repeat;
  margin-top: 20px;
}
.restaurants .containerrestaurant .heart:hover {
  background: url("../images/restaurants/heart.svg") no-repeat;
}

@media screen and (min-width: 768px) {
  .explore {
    height: 20%;
  }
  .explore button {
    width: 70%;
  }
  .functioning .choice {
    height: 60px;
    margin-bottom: 30px;
  }
  .functioning .choice p {
    margin-top: 20px;
  }
  .functioning .choice .container {
    display: inline;
    justify-content: flex-start;
  }
  .functioning .choice .container span {
    margin-top: 23px;
  }
}
@media screen and (min-width: 992px) {
  .explore {
    height: 200px;
  }
  .explore h2 {
    margin-top: 10%;
  }
  .explore button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 50%;
    padding: 2.5%;
    font-size: 25px;
  }
  .functioning .choice {
    display: inline-flex;
    width: 35%;
  }
  .functioning .choice p {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 5%;
  }
  .functioning .choice .container {
    width: 100%;
    padding: 0%;
  }
  .functioning .choice .container i {
    margin-left: 5%;
  }
  /*restaurants*/
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .restaurants h1 {
    padding-top: 0%;
    width: 100%;
  }
  .restaurants .card {
    width: 40%;
  }
  .restaurants .card .ticket {
    background-color: #99e2d0;
    color: #0b8768;
    font-size: small;
    padding: 1%;
    margin-left: 30%;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
}
/*partie mobile first*/
.banner {
  position: absolute;
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu {
  background-color: rgb(247, 247, 247);
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: 55%;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  /*animation-movement menus - starter ou entree*/
  /*animation-movement menus - dish ou plat*/
  /*animation-movement menus - dessert*/
  /*cadre des menus*/
}
.menu div {
  display: flex;
  justify-content: space-between;
}
.menu div h1 {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Shrikhand", sans-serif;
}
.menu div h2 {
  font-size: 25px;
  margin-top: 8%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}
.menu div .heart {
  transition-duration: 3s;
  width: 25px;
  margin-top: 10px;
  margin-right: 25px;
  background: url("/images/restaurants/heartregular.svg") no-repeat;
}
.menu div .heart:hover {
  background: url("../images/restaurants/heart.svg") no-repeat;
}
.menu .subtitle h2 {
  border-bottom: solid #99e2d0;
  width: 40px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
}
.menu .starterone {
  -webkit-animation: movement 2s;
          animation: movement 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes movement {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes movement {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .startertwo {
  -webkit-animation: movement 2.3s;
          animation: movement 2.3s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
@keyframes movement {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .starterthree {
  -webkit-animation: movement 2.7s;
          animation: movement 2.7s;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .starterfour {
  -webkit-animation: movement 3s;
          animation: movement 3s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .dishone {
  -webkit-animation: movement 4.5s;
          animation: movement 4.5s;
}
@keyframes movement {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .dishtwo {
  -webkit-animation: movement 3s both;
          animation: movement 3s both;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .dishthree {
  -webkit-animation: movement 3s both;
          animation: movement 3s both;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@keyframes movement {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .dessertone {
  -webkit-animation: movement 2.3s;
          animation: movement 2.3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@keyframes movement {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .desserttwo {
  -webkit-animation: movement 3s;
          animation: movement 3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@keyframes movement {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .dessertthree {
  -webkit-animation: movement 4s;
          animation: movement 4s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
@keyframes movement {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .meals {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-bottom: 40px;
  margin-left: 1.5%;
}
.menu .meals .card {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-left: 3px;
  width: 95%;
  background-color: white;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}
.menu .meals .card:hover::before {
  background: #99e2d0;
  position: absolute;
  margin-right: 3%; /*15px*/
  border-radius: 0px 15px 15px 0px;
  height: 27px;
  width: 10px;
  white-space: nowrap; /* pas de passage à la ligne */
  -webkit-animation: bord 0.5s ease;
          animation: bord 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  content: url();
  right: 0%;
}
@-webkit-keyframes bord {
  from {
    padding: 0px;
    padding-bottom: 42px;
  }
  to {
    padding: 22px;
  }
}
@keyframes bord {
  from {
    padding: 0px;
    padding-bottom: 42px;
  }
  to {
    padding: 22px;
  }
}
.menu .meals .card .colorbord {
  color: white;
}
.menu .meals .card:hover .colorbord {
  display: flex;
}
.menu .meals .card:hover .colorbord .verif {
  display: flex;
  margin: auto;
  margin-right: 17px;
  margin-left: 30px;
  text-align: center;
  color: white;
  z-index: 3;
  -webkit-animation-name: turn;
          animation-name: turn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes turn {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(180deg);
  }
}
@keyframes turn {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(180deg);
  }
}
.menu .meals .card .mealscontent {
  margin: 0%;
  padding-left: 3%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.menu .meals .card .mealscontent h3 {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .meals .card .mealscontent p {
  margin-top: -10px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .meals .card span {
  display: flex;
  align-content: space-evenly;
  float: right;
  margin-top: 30px;
}

.order {
  display: flex;
  justify-content: center;
  margin: auto;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 16px;
  cursor: pointer;
}
.order:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 3px 3px 3px 3px rgba(67, 56, 56, 0.5);
}

@media screen and (min-width: 768px) {
  .banner {
    content: url("/images/restaurants/alafrancaise.jpg");
    background: url("/images/restaurants/alafrancaise.jpg");
    background-repeat: no-repeat;
    max-height: 60%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
  }
  .banner img {
    display: none;
  }
  .menu {
    margin-top: 40%;
  }
  .menu .meals {
    margin-left: 2.3%;
  }
  .menu .meals .card:hover::before {
    margin-right: 4.4%; /*15px*/
  }
  .menu .meals .card .mealscontent {
    margin: 0%;
    padding-left: 3%;
    width: 100%;
  }
  .menu .meals .card .mealscontent h3 {
    width: 100%;
    text-overflow: clip;
  }
  .menu .meals .card .mealscontent p {
    width: 100%;
    text-overflow: clip;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    max-height: 80%;
  }
  .menu {
    margin-top: 35%;
  }
  .menu .meals {
    margin-left: 3%;
  }
}
footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(57, 55, 55);
  height: auto;
  line-height: 30px;
  padding-top: 3%;
  width: 100%;
}
footer i {
  width: 15px;
  margin: auto;
  margin-left: 0%;
  font-size: 10px;
}
footer a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer li {
  list-style-type: none;
}
footer .logofooter {
  width: 100px;
  margin-left: 35px;
}/*# sourceMappingURL=main.css.map */