@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&family=Shrikhand&display=swap"); /*partie mobile first*/

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$font-color-btn: white;
$bg-explore: rgb(247, 247, 247);

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .back {
    margin-left: 17px;
    margin-right: -20px;
  }
}

.banner {
  position: absolute;
  img {
    width: 100%;
    height: 20%;
  }
}
$font-family-title: "Shrikhand", sans-serif;
@mixin title {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
  font-family: $font-family-title;
}

$font-family-text: "Roboto", sans-serif;
@mixin hometitle {
  font-size: 25px;
  margin-top: 8%;
  margin-left: 5%;
  font-family: $font-family-text;
}
@mixin bgheart {
  transition-duration: 3s;
  width: 25px;
  margin-top: 10px;
  margin-right: 25px;
  background: url("/images/restaurants/heartregular.svg") no-repeat;
}

@mixin menutitle {
  border-bottom: solid $color-tertiary;
  width: 40px;
  font-size: 15px;
  font-family: $font-family-text;
  padding-bottom: 5px;
}
@mixin font {
  font-family: $font-family-text;
  font-size: 13px;
}

.menu {
  background-color: $bg-explore;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: 55%;
  padding-top: 15px;
  padding-left: 10px;
  div {
    display: flex;
    justify-content: space-between;
    h1 {
      @include title;
    }
    h2 {
      @include hometitle;
    }
    .heart {
      @include bgheart;
    }
    .heart:hover {
      background: url("../images/restaurants/heart.svg") no-repeat;
    }
  }
  .subtitle {
    h2 {
      @include menutitle;
    }
  }
  .meals {
    @include font;
    margin-bottom: 40px;

    .card {
      box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%);
      border-radius: 15px;
      margin-left: 0%;
      width: 95%;
      background-color: white;
      margin-bottom: 16px;
      overflow: hidden;  
      &:hover::before {
     
        background: $color-tertiary;
        position: absolute;
        margin-right: 4.5%;/*15px*/
        border-radius: 0px 15px 15px 0px;
        padding: 22px;
        padding-left: 35px;
        white-space: nowrap;                  /* pas de passage à la ligne */
        animation: bord 1s ease-in-out;
        animation-delay: 1ms;
        content: url("/images/restaurants/circle-check-solid.svg");
        background-image: url(/images/restaurants/circle-check-solid.svg);
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
      right:0%;
      @keyframes bord {
        from {
          padding-left: 0px;

        }
        to {
          padding-left: -5px;

        }
    }
    }
      
    

      .mealscontent {
        display: flex;
        flex-wrap: wrap;
        line-height: 8px;
        width: 68%;
        padding-left: 3%;
        overflow: hidden;
        text-overflow: ellipsis;
        h3 {
          width: 100%;
          margin-bottom: 0px;
        }
      }

      span {
        display: flex;
        align-content: space-evenly;
        float: right;
        margin-top: 30px;
      }
    }
  }
}
