  /*police pour le texte*/
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&family=Shrikhand&display=swap');/*partie mobile first*/
header{
    padding-top: 5%;
    padding-bottom: 4%;
        img{
        display: flex;
        margin: auto;
        width: 48%;
        }
}

@mixin font{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.city{
    display: flex;
    justify-content:center;
    background-color: rgb(236, 236, 236);
  padding: 4%;
 box-shadow: 0 10px 10px -11px rgb(0 0 0 / 35%) inset;
i{
display: inline-flex;
justify-content: center;
margin-left: 5%;
margin-right: 1%;
}
input{
    border: none;
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 68%;

    &::placeholder{
    @include font;
    text-align: start;
    padding-left: 9%;

}

    }

}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$font-color-btn:white;
$bg-explore:rgb(247, 247, 247);
$font-family-text: 'Roboto', sans-serif;

.explore{
    display: flex;
    justify-content: center;
   flex-direction: column;
   text-align: center;
   background-color: $bg-explore;
   padding-bottom: 13%;
   h2{
    display: flex;
    justify-content: center;
font-size: 25px;
width: 80%;
margin: auto;
margin-top:6% ;
@include font;
font-weight: 900;
}
  p{
    display: flex;
    justify-content: center;
margin-left: 5%;
margin-right: 5%;

@include font;
  }
  button{
    margin: auto;
background: linear-gradient(to bottom right, $color-secondary, $color-primary);
border-radius: 25px;
border: none;
color: $font-color-btn;
font-family:$font-family-text;
padding: 5%;
margin-top: 4%;

&:hover{
  background: linear-gradient(to bottom right, lighten($color-secondary, 5%),lighten($color-primary, 5%)) ;
  box-shadow: 3px 3px 3px 3px rgba(67, 56, 56, 0.5) ;
 

}
}
}


$bg-functionning:#f8f3ff;
$bg-choice:#f8f8f8;
$bshadow:rgb(125, 124, 124, 0.1);

@mixin link{
  color: black;
  text-decoration: none;
  font-family:$font-family-text ;
}
@mixin hometitle{
  font-size: 25px;
  margin-top: 10%;
  margin-left: 5%;
  font-family: $font-family-text;

}
.functioning{
  font-family: $font-family-text;

  h1{
  @include hometitle;
  }   
.choice{
  box-shadow: 4px 5px $bshadow;
  background-color: $bg-choice;

  border-radius: 20px;
  margin-left: 11%;
  margin-bottom: 6%;
  max-width: 80%;
  &:hover{
    background-color:$bg-functionning;
  }
p{
  float: left;
  background-color: $color-primary;
  color: white;
  border-radius: 30px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 7%;
  margin-left: -3%;
  font-size: small;
}
.container{
  padding:7%;

}
i{
  margin-right: 5%;
color:grey;
&:hover{
  color:$color-primary;
}
}
span{
display: inline-flex;
color: black;
font-weight: bold;
}
a{
  @include link;
}
}
}


/*partie restaurants*/
@mixin ticket{
   background-color: $color-tertiary;
  color: #0b8768;
   padding: 2%;
  font-size: small;
  float: right;
  margin-left: 55%;
  font-weight: bold;
  position: absolute;
  font-family: $font-family-text;
}

.restaurants{
 flex-wrap: wrap;
 h1{
  @include hometitle;
}


.card {
  display: flex;

  flex-wrap: wrap;
  width: 80%;
  height: auto;
margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  img {
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
  }
  .ticket{
    @include ticket;
    }
}


.containerrestaurant {
  display: flex;
  font-family: $font-family-text;
  line-height: 5px;
font-size: 14px;
width: 100%;
margin-left: 5%;
.namerestaurant{
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
h3{
    font-weight: bold;
  }
 
     a{
      @include link;
 
   }
   .heart i{
    display: flex;
    justify-content: center;
float: right;
    width:20%;
    position: relative;
    top: 37%;
  }
}


}

