/*police pour le texte*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,800;1,700&family=Roboto&family=Satisfy&family=Shrikhand&display=swap");
/*partie mobile first*/
header {
  padding-top: 5%;
  padding-bottom: 4%;
}
header img {
  display: flex;
  margin: auto;
  width: 48%;
}

.city {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  padding: 4%;
  box-shadow: 0 10px 10px -11px rgba(0, 0, 0, 0.35) inset;
}
.city i {
  display: inline-flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 1%;
}
.city input {
  border: none;
  text-align: center;
  background-color: rgb(236, 236, 236);
  width: 68%;
}
.city input::-moz-placeholder {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: start;
  padding-left: 9%;
}
.city input:-ms-input-placeholder {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: start;
  padding-left: 9%;
}
.city input::placeholder {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: start;
  padding-left: 9%;
}

.explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 13%;
}
.explore h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 80%;
  margin: auto;
  margin-top: 6%;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 900;
}
.explore p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: black;
}
.explore button {
  margin: auto;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 5%;
  margin-top: 4%;
}
.explore button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 3px 3px 3px 3px rgba(67, 56, 56, 0.5);
}

.functioning {
  font-family: "Roboto", sans-serif;
}
.functioning h1 {
  font-size: 25px;
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}
.functioning .choice {
  box-shadow: 4px 5px rgba(125, 124, 124, 0.1);
  background-color: #f8f8f8;
  border-radius: 20px;
  margin-left: 11%;
  margin-bottom: 6%;
  max-width: 80%;
}
.functioning .choice:hover {
  background-color: #f8f3ff;
}
.functioning .choice p {
  float: left;
  background-color: #9356dc;
  color: white;
  border-radius: 30px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 7%;
  margin-left: -3%;
  font-size: small;
}
.functioning .choice .container {
  padding: 7%;
}
.functioning .choice i {
  margin-right: 5%;
  color: grey;
}
.functioning .choice i:hover {
  color: #9356dc;
}
.functioning .choice span {
  display: inline-flex;
  color: black;
  font-weight: bold;
}
.functioning .choice a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/*partie restaurants*/
.restaurants {
  flex-wrap: wrap;
  margin-bottom: 15%;
}
.restaurants h1 {
  font-size: 25px;
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}
.restaurants .card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurants .card img {
  display: flex;
  justify-content: space-evenly;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .card .ticket {
  background-color: #99e2d0;
  color: #0b8768;
  padding: 2%;
  font-size: small;
  float: right;
  margin-left: 55%;
  font-weight: bold;
  position: absolute;
  font-family: "Roboto", sans-serif;
}
.restaurants .containerrestaurant {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  line-height: 8px;
  height: auto;
}
.restaurants .containerrestaurant .namerestaurant {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.restaurants .containerrestaurant h3 {
  font-weight: bold;
}
.restaurants .containerrestaurant a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.restaurants .containerrestaurant .heart {
  display: flex;
  transition-duration: 3s;
  width: 25px;
  background: url("/images/restaurants/heartregular.svg") no-repeat;
}
.restaurants .containerrestaurant .heart:hover {
  background: url("../images/restaurants/heart.svg") no-repeat;
}

footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(57, 55, 55);
  height: auto;
  line-height: 30px;
  padding-top: 5%;
  width: 100%;
}
footer i {
  width: 10%;
  font-size: small;
}
footer a {
  display: flex;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer li {
  list-style-type: none;
}
footer .ifooter {
  color: white;
  width: 2%;
}
footer .handfooter {
  transform: rotate(-45deg);
  color: white;
}
footer .logofooter {
  width: 25%;
  margin-left: 12%;
}

/*.heart a{
    display: flex;
    font-size: 20px;
    justify-content: center;
float: right;
    width:20%;
    position: relative;
        top: 30%;
        color: black;
    &:hover::before{
       @include bgheart;

    }
  }*//*# sourceMappingURL=style.css.map */