.city {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  padding: 4%;
    box-shadow: 0 10px 10px -11px rgb(0 0 0 / 35%) inset;
  i {
    display: inline-flex;
    justify-content: center;
    margin-left: 2%;
  }
  input {
    border: none;
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 48%;

    &::placeholder {
      @include font;
      text-align: start;
      padding-left: 9%;
      width: 100%;
    }
  }
}
@media screen and(min-width:992px){
  .city {
   i {
      display: inline-flex;
      justify-content: center;
      margin-left: 0%;
    }
    input {
      border: none;
      text-align: center;
      background-color: rgb(236, 236, 236);
      width: 68%;
  
    }
}
}