$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$font-color-btn: white;
$font-color-btn: white;
$bg-explore: rgb(247, 247, 247);
$bg-functionning: #f8f3ff;
$bg-choice: #f8f8f8;
$bshadow: rgb(125, 124, 124, 0.1);
$font-family-text: "Roboto", sans-serif;
$font-family-title: "Shrikhand", sans-serif;
